@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Bluu';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/bluunext-bold.woff2') format('woff2'), url('../fonts/bluunext-bold.woff') format('woff');
  font-display: swap;
}

body {
  max-height: 100vh;
  font-family: 'Bluu', sans-serif;
  background-color: black;
  color: white;
  text-transform: uppercase;
}

body, a {
  cursor: url('../svg/dot-circle-regular.svg'), auto;
}

.title {
  font-size: 3.5rem;
}