@font-face {
  font-family: 'Bluu';
  src: url('../fonts/bluunext-bold.woff2') format('woff2'), url('../fonts/bluunext-bold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Bluu-italic';
  src: url('../fonts/bluunext-bolditalic.woff2') format('woff2'), url('../fonts/bluunext-bolditalic.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

body {
  max-height: 100vh;
  font-family: 'Bluu';
}